/*    リセットcss*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body{
    background-color: #EEEEEE;
}
h1{
    color: #080404;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    padding-left: 20px;
    height: 100px;
    padding-top: 20px;
}
div#step1 {
    padding-left: 20px;
}
form {
    margin: 20px 0 50px 0;
}
input[type="text"] {
    height: 40px;
    width: 300px;
    font-size: 18px;
    padding-left: 10px;
    
}
button {
    height: 40px;
    width: 70px;
    font-size: 16px;
    border-top-color: none;
/*    margin-top: 30px;*/
    cursor: pointer;
    background-color: rgba(51, 174, 255, 0.7);
    border-style: none;
    border-radius: 3px;
    vertical-align: bottom;
}
.s-img{
    width: 30px;
}


.logo-box{
    height: 100px;
    background-color: #fff;
    
}
.logo{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}


#step1 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#step1 li {
    width: 200px;
}

#step2 {
    display: none;
}
dl {
    margin-bottom: 20px;
    /* padding-left: 20px; */
}
div#step2 {
    padding-left: 20px;
}
.copyright{
    display: block;
    margin-left: 70px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}
.sample > img {
    width: 45px;
    margin-right: 10px;
}
/*スイッチ*/
.sample input {
	display: none;
}
.sample label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
    font-size: 12px;
    margin-top: 5px;
}
.sample label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.sample label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.sample input[type="radio"]:checked + .switch-on {
	background-color: rgba(51, 174, 255, 1.0);
	color: #fff;
    font-size: 12px;
    margin-top: 5px;
}
.sample input[type="radio"]:checked + .switch-off {
	background-color: rgba(51, 174, 255, 1.0);
	color: #fff;
    font-size: 12px;
    margin-top: 5px;
}
/*スイッチここまで*/
.sample {
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    margin-top: 20px;
}
